body {
  background-color:#222;
}
#background{
  position:absolute;
  width:100%;
  height:100%;
  background-image:url("media/1.jpg");
}
#ctrlaudio {
  margin-top:15px;
  margin-left:200px;
  opacity:0.5;
}
.decalage {
  margin-top:150px;
}
.fenetre {
  background-color:#222;
  border-radius:5px;

}
.texte {
  padding:20px;
  color:#eee;
  font-style:italic;
}
.jet {
  text-align:right;
  color:#eee;
  padding:20px;
}
