<div class="container">
<nav class="navbar navbar-default decalage fenetre">
	<div class="col-md-10" style="margin-top:6px;">
        <form class="form-inline">
            <select name="Marques" id="select" class="form-control" style="min-width:100px;">
                <option disabled selected style='display:none;'>Marque</option>

            </select>
            <select name="Model" id="select1" class="form-control" style="min-width:100px;">
                <option disabled selected style='display:none;'>Modèle</option>

            </select>
            <select name="moteur" id="moteur" class="form-control" style="min-width:100px;">
                <option disabled selected style='display:none;'>Model</option>

            </select>
        </form>
    </div>
</nav>
<div class="row decalage50">
  
</div>

</div>
