<div class="container">
<nav class="navbar navbar-default decalage fenetre">
	<div class="col-md-10" style="margin-top:6px;">
        <form class="form-inline">
            <select name="Marques" id="select" class="form-control" style="min-width:100px;">
                <option disabled selected style='display:none;'>Marque</option>

            </select>
            <select name="Model" id="select1" class="form-control" style="min-width:100px;">
                <option disabled selected style='display:none;'>Modèle</option>

            </select>
            <select name="moteur" id="moteur" class="form-control" style="min-width:100px;">
                <option disabled selected style='display:none;'>Model</option>

            </select>
        </form>
    </div>
</nav>
<div class="row decalage50">
</div>
	<nav class="navbar navbar-default fenetre">
		<div class="col-md-10">
			<img src="media/avion.jpg" class="image"></img>
			<h3 class="titre">Airbus A-347</h3>
			<p class="texte">Oui, nous parlons bien de l'Airbus de ligne A-347. Mais sans les passagers, uniquements les hotesses.
			Les sièges passagers ont été remplacé par une piscine, une salle cinéma, et un opéra. Un habitacle spécial est reservé
			à l'orchestre chinois (les musiciens chinois prennent moins de place) qui se fera un plaisir de donner une représentation
			de Wagner pendant vos épuisants voyages vers vos demeures secondaires.</p>
		</div>
	</nav>
</div>
